<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <groups>
  <run>
  <include name="Retesting"></include>
  </run>
  </groups>
    <classes>
      
      <class name="practice.Test2"/>
      <class name="practice.Test1"/>
      <class name="practice.Test3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
